@import '../../styles/fonts';
@import '../../styles/colors';

.postImg {
    position: relative;
    margin: 20px auto 30px auto;
    width: 250px;
    height: 250px;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;

    label {
        display: flex;
        justify-content: center;
    }

    img {
        object-fit: cover;
        object-position: center;
    }

    input {
        position: absolute;
        left: -1000px;
        top: -1000px;
    }

    &:hover {
        .uploadHover {
            opacity: 1;
        }
    }
}

.imgEmpty {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    background: rgba(black, 0.2);
}

.uploadHover {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(black, 0.2);
    transition: opacity 0.2s ease-out;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: stretch;
    margin-bottom: 20px;

    .inputContainer {
        flex: 1;
    }

    .inputContainer:first-of-type {
        flex: 2;
        margin-right: 40px;
    }
}

.inputContainer {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    input {
        margin-top: 10px;
    }
}

.description {
    resize: none;
    width: 100%;
    border: none;
    padding: 10px 20px;
    min-height: 100px;
}

.btn {
    width: 100%;
    background-color: $accentColor;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-family: $headerFont;
    margin-top: 20px;
    transition: box-shadow 0.2s ease-out;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 5px 2px rgba($accentColor, 0.5);
    }
}
