@import '../../styles/fonts';
@import '../../styles/colors';

.btnsContainer {
    display: flex;
    justify-content: flex-end;
}

.btn {
    width: 100%;
    background-color: $accentColor;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-family: $headerFont;
    margin-top: 20px;
    transition: box-shadow 0.2s ease-out;
    margin-right: 40px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 5px 2px rgba($accentColor, 0.5);
    }
}

.btnRed {
    background-color: $errorColor;
    margin-right: 0;
    &:hover {
        box-shadow: 0 0 5px 2px rgba($errorColor, 0.5);
    }
}
