@import '../../styles/colors';
@import '../../styles/fonts';

.nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo {
    margin-left: 10px;
    margin-right: 30px;
    font-size: 2.2rem;
}

.tabs {
    display: flex;
    align-items: center;
}

.tab {
    font-family: $headerFont;
    color: inherit;
    min-width: 100px;
    text-align: center;
    text-decoration: none;
    border-bottom: 1px solid rgba(black, 0.2);
    padding: 5px 15px;
    transition: border 0.2s ease-out;
    font-size: 1.1rem;

    &:hover {
        border-bottom: 1px solid $secondaryColor;
    }

    &:global.active {
        border-bottom: 2px solid $accentColor;
        font-weight: bold;
    }
}

.logout {
    padding: 10px 20px;
    font-family: $headerFont;
    font-weight: bold;
    transition: all 0.2s ease-out;

    &:hover {
        color: white;
        background-color: rgba($accentColor, 0.8);
    }
}
