@import "../../styles/colors";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-size: 4rem;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba($primaryColor, 0.7);
  border-radius: 25px;
  width: 300px;
  box-shadow: 0 0 20px 5px rgba(black, 0.2);
}

.formContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;

  input {
    margin-bottom: 20px;
    padding: 15px 20px;

    &:global.error {
      border: 2px solid $errorColor;
    }
  }
}

.link {
  color: white;
  transition: color 0.2s ease-out;
  &:hover {
    color: $primaryColor;
  }
}

.btn {
  font-size: 1.1rem;
  background: $accentColor;
  border-radius: 0 0 25px 25px;
  padding: 15px 20px;
  color: white;
  outline: none;
  cursor: pointer;
}

.errorMesseges {
  margin: 10px auto;
  padding: 1px;
  border: 1px solid rgb(143, 40, 40);
  color: darkred;
  background: #f2dede;
  border-radius: 7px;
  text-align: center;
}
