@import '../../styles/colors';

.container {
    position: relative;
}

.list {
    position: relative;
    padding: 15px;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 170px);
    overflow: auto;
    transform: translateZ(0);

    > * {
        margin-bottom: 20px;
    }

    &::-webkit-scrollbar {
        width: 0px;
        background: transparent;
    }
}

.fade {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    background: linear-gradient(to bottom, $backgroundColor, transparent);
    z-index: 5;
}
