@import '../../styles/colors';
@import '../../styles/fonts';

.tabs {
    display: flex;
    padding: 0;
    border-radius: 50px;
    background-color: $primaryColor;
    overflow: hidden;
    flex: 1;
}

.tab {
    font-family: $headerFont;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    min-width: 100px;
    text-align: center;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    &:global.active {
        background-color: rgba($accentColor, 1);
    }
}
