@import '../../styles/fonts';
@import '../../styles/colors';

.profilePic {
    position: relative;
    border-radius: 50%;
    margin: 20px auto 30px auto;
    overflow: hidden;
    width: 250px;

    align-items: center;
    transition: border 0.2s ease-out;
    border: 5px solid rgba(black, 0.2);

    label {
        display: flex;
        justify-content: center;
    }

    img {
        object-fit: cover;
        object-position: center;
    }

    input {
        position: absolute;
        left: -1000px;
        top: -1000px;
    }

    &:hover {
        border: 5px solid $accentColor;
        .uploadHover {
            opacity: 1;
        }
    }
}

.uploadHover {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(black, 0.2);
    transition: opacity 0.2s ease-out;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: space-around;
}

.inputContainer {
    font-weight: bold;

    input {
        margin-left: 10px;
    }
}

.btn {
    background-color: $accentColor;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-family: $headerFont;
    margin-left: 10px;
    transition: box-shadow 0.2s ease-out;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 5px 2px rgba($accentColor, 0.5);
    }
}
