input {
    border: none;
    padding: 10px 5px;
    border-radius: 5px;
}

button {
    border: none;
    background: none;
}

.page-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100vw;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headerFont;
}

.logo {
    font-family: $logoFont;
    text-shadow: 0.035em 0.035em rgba($accentColor, 0.4),
        -0.035em -0.035em rgba(black, 0.3);
    transition: text-shadow 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    &:hover {
        text-shadow: -0.04em -0.04em rgba($accentColor, 0.4),
            0.04em 0.04em rgba(black, 0.3);
    }
}

.link {
    text-decoration: none;
    color: inherit;
}
