@import url('https://fonts.googleapis.com/css?family=Mukta:400,600|Hind+Vadodara|Pacifico');

$logoFont: 'Pacifico', cursive;
$headerFont: 'Mukta', sans-serif;
$primaryFont: 'Hind Vadodara', sans-serif;

$fontSizeXL: 1.4 rem;
$fontSizeL: 1.2 rem;
$fontSizeM: 1 rem;
$fontSizeS: 0.8 rem;
$fontSizeXS: 0.6 rem;
