@import '../../styles/colors';

.post {
    height: 100%;
}

.title {
    color: black;
    margin-top: 0;
    margin-bottom: 10px;
}

.content {
    display: flex;
}

.img {
    object-position: center;
    object-fit: contain;
    margin-right: 20px;
}

.link {
    color: $primaryColor;
    font-weight: bold;
    text-decoration: underline;
}
