@import '../../styles/colors';
@import '../../styles/fonts';

.nav {
    display: flex;
    align-items: center;
}

.addBtn {
    background-color: $accentColor;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-family: $headerFont;
    margin-left: 10px;
    transition: box-shadow 0.2s ease-out;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 5px 2px rgba($accentColor, 0.5);
    }
}

.link {
    color: black;
    text-decoration: none;
}
