@import '../../styles/colors';

.card {
    position: relative;
    box-shadow: 0 0 25px 5px rgba(black, 0.1);
    border-radius: 20px;
    transition: all 0.3s ease-out;
    border: 5px solid $backgroundColor;
    padding: 10px 20px;
}

.clickable {
    cursor: pointer;
    &:hover {
        box-shadow: none;
        border: 5px solid $accentColor;
    }
}
