@import '../../styles/fonts';
@import '../../styles/colors';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foundBy {
    font-weight: bold;
    font-size: 1.2rem;

    a {
        color: $primaryColor;
    }
}

.image {
    width: 100%;
    object-fit: contain;
    object-position: center;
}

.description {
    font-size: 1.1rem;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    word-break: break-word;
}

.request {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background-color: $primaryColor;
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-family: $headerFont;
    margin-left: 10px;
    transition: box-shadow 0.2s ease-out;
    cursor: pointer;

    &:hover {
        box-shadow: 0 0 5px 2px rgba($primaryColor, 0.5);
    }
}
