@import '../../styles/colors';

$colors: $errorColor, $accentColor, $secondaryColor, $primaryColor;
$d: 175.6449737548828;

.container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading {
    animation: contanim 2s linear infinite;
    height: 66px;
    width: 66px;

    svg {
        width: 100%;
        height: 100%;

        left: 0;
        top: 0;
        position: absolute;

        transform: rotate(-90deg);

        @for $i from 1 through 4 {
            &:nth-child(#{$i}) circle {
                stroke: nth($colors, $i);
                stroke-dasharray: 1, 300;
                stroke-dashoffset: 0;

                animation: strokeanim 3s calc(0.2s * (#{$i})) ease infinite;
                transform-origin: center center;
            }
        }
    }
}

@keyframes strokeanim {
    0% {
        stroke-dasharray: 1, 300;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 120, 300;
        stroke-dashoffset: -$d / 3;
    }
    100% {
        stroke-dasharray: 120, 300;
        stroke-dashoffset: -$d;
    }
}

@keyframes contanim {
    100% {
        transform: rotate(360deg);
    }
}
