@import 'styles/colors';
@import 'styles/fonts';
@import 'styles/common';
@import '~normalize.css/normalize';

html {
    font-family: $primaryFont;
    color: $textColor;
    background-color: $backgroundColor;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
