.page {
    text-align: center;
    height: calc(100vh - 200px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-size: 3rem;
}

.eyes {
    font-size: 4rem;
}
